<!-- src/components/alert.hbs -->
<div class="alert alert-primary" role="alert">
  {{text}} - Primary
</div>
<div class="alert alert-secondary" role="alert">
  {{text}} - Secondary
</div>
<div class="alert alert-success" role="alert">
  {{text}} - Success
</div>
<div class="alert alert-danger" role="alert">
  {{text}} - Danger
</div>
<div class="alert alert-warning" role="alert">
  {{text}} - Warning
</div>
<div class="alert alert-info" role="alert">
  {{text}} - Info
</div>
<div class="alert alert-light" role="alert">
  {{text}} - Light
</div>
<div class="alert alert-dark" role="alert">
  {{text}} - Dark
</div>
